<template>
  <table border="1" cellpadding="2" cellspacing="2">
    <thead>
      <tr>
        <th>Имя</th>
        <th>Email</th>
        <th>Телефон</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="contact in contacts" :key="contact.id">
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
        <td><a @click="deleteContact(contact.id)">Удалить</a></td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "Contacts",
  props: ['contacts'],
  methods: {
    deleteContact(id) {
      this.$emit('delete-contact', id);
    },
    editContact(id) {
      this.$emit('edit-contact', id);
    },
  }
}
</script>
