<template>
  <div>
    <input type="text" placeholder="Имя *" v-model="form.name"/>
    <input type="text" placeholder="Email *" v-model="form.email"/>
    <input type="text" placeholder="Телефон" v-model="form.phone"/>

    <button v-on:click="submit()">Добавить</button>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "ContactForm",
  props: ['contact'],
  data(){
    return {
      form: {
        name: '',
        email: '',
        phone: ''
      }
    }
  },
  methods: {
    submit(){
      axios.post('http://localhost/contact', this.form)
          .then(function(){
            this.form.name = ''
            this.form.email = ''
            this.form.phone = ''
          }.bind(this));
    }
  }
}
</script>
