<template>
  <div id="app">
    <h2>{{ title }}</h2>
    <ContactForm/>
    <Contacts :contacts="contacts" @edit-contact="editContact" @delete-contact="deleteContact"/>
  </div>
</template>

<script>
import axios from 'axios'
import Contacts from './components/Contacts'
import ContactForm from "./components/ContactForm"

export default {
  name: 'App',
  data() {
    return {
      title: 'Контакты',
      contacts: [],
    }
  },
  components: {
    Contacts,
    ContactForm
  },
  methods: {
    deleteContact(id) {
      axios
        .delete('http://localhost/contact/'+id)
    }
  },
  mounted () {
    axios
        .get('http://localhost/contacts')
        .then(response => (this.contacts = response.data))
  }
}
</script>
